@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 100%;
    min-height: 100%;
    background: #1c1c1e !important;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.bg-main-gradient {
    background: linear-gradient(90deg,#1c1c1e 13.93%,rgba(28,28,30,0) 75.72%),
    linear-gradient(0deg,#1c1c1e,rgba(28,28,30,0)),
    linear-gradient(112.81deg,rgba(255,111,81,.432) -16.2%,rgba(255,111,81,.222) -4.06%,rgba(104,93,90,0) 29.94%),
    linear-gradient(117.83deg,#ff6f51 -32.35%,rgba(255,111,81,.577) -5.12%,rgba(255,111,81,.371) 14.84%,rgba(255,111,81,.169) 29.65%,rgba(255,111,81,0) 46.71%),
    linear-gradient(255.2deg,rgba(1,100,121,.4) -36.42%,rgba(1,100,121,0) 92.99%),
    linear-gradient(328.86deg,rgba(1,100,121,.9) -91.36%,rgba(1,100,121,0) 46.81%),
    linear-gradient(255.2deg,rgba(1,100,121,.4) -36.42%,rgba(1,100,121,0) 92.99%),#84265e;;
}

.bg-search-gradient {
    background-image: linear-gradient(107deg, rgb(78, 6, 78), hsl(159, 63%, 11%));
}

.bg-genre-card {
    background-image: linear-gradient(74.06deg, rgb(90 59 103 / 44%) 0%, rgb(1 100 121 / 38%) 96.39%);
}

/* .search-box-shadow:hover {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 2px;
} */

.search-box-shadow-const {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 2px;
}

/* slick-overrides */

.slick-disabled {
    display: none !important;
}

.slick-prev, slick-next {
    z-index: 99;
}

.slick-prev {
    left: 15px !important;
}

.slick-next {
    right: 15px !important;
}
